<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sisconcad.Properties.Settings.db_sisconcadConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=db_sisconcad;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sisconcad.Properties.Settings.db_sisconcadConnectionStringRelatorios"
            connectionString="Data Source=DESKTOP-GVVKSFK\SQLEXPRESS;Initial Catalog=db_sisconcad;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="Sisconcad.Properties.Settings.db_sisconcadConnectionString1"
            connectionString="Data Source=192.168.100.199,1433;Initial Catalog=db_sisconcad;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
